#Footer {
  background-image: url("./Background.svg");
  background-position: left;
  background-position-y: 5ch;
  background-size: contain;
  background-repeat: no-repeat;
}

#socials{
  padding-bottom: 15px;
}

#copyright{
  position: relative;
  top: 17rem;
  padding-left: 1rem;
  font-weight: 600;
}