@media (min-width: 768px) {
  #Footer {
    background-image: url("./assets/Background.svg");
    background-position: left;
    background-position-y: 5ch;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

#socials {
  padding-bottom: 15px;
}
