.faq__accordion__header {
  font-size: 1.3rem;
  background-color: #f9cf90;
  border: 1px solid #f9cf90;
  border-bottom-width: 0px;
  color: black;
  cursor: pointer;
  transition: background 0.2s;
  padding: 2.5rem;
  position: relative;
  z-index: 2;
}

.faq__accordion__content > p {
  font-size: 1.3rem;
}

.faq__accordion__header:hover {
  background-color: #e79821;
  color: white;
}

.faq__arrow {
  position: absolute;
  height: 30px;
  margin-top: -4px;
  top: 50%;
  right: 40px;
  width: 2.5rem;
}

.faq__accordion__content {
  background-color: white;
  border: 1px solid rgb(241, 195, 69);
  border-width: 0px 1px;
  padding: 20px;
}
