.faq__accordion__header {
  font-size: 1.3rem;
  background-color: #f9cf90;
  border: 1px solid #f9cf90;
  border-bottom-width: 0px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
}

.faq__accordion__content > p {
  font-size: 1.3rem;
}

.faq__accordion__header:hover {
  background-color: #e79821;
  color: white;
}

.faq__arrow {
  padding: 1rem 1rem;
}
